version: '3.9'

services:
  todo-frontend-dev:
    image: fso-p12-todo-frontend-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./:/app
    ports:
      - 3001:80
